*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    line-height: 2rem;
}

h5{
    color: hsl(75, 94%, 57%);
}
p{
    font-size: 14px;
    margin-bottom: 1em;
}
.profile__details{
    background-color: hsl(0, 0%, 12%);
    padding: 3rem 0.1rem;
    margin: 5rem 3rem;
    border-radius: 1rem;
    text-align: center;
}
.profile__details img{
    border-radius: 50%;
    width: 25%;
}
input[type=button]{
    display: inline-block;
    width: 200px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    padding: 1em 2em;

}
.profile__buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}   

input[type=button]:hover{
    background-color: yellow;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    cursor: pointer;
}
/* Media Queries */
@media (min-width: 424px) {
    .profile__details {
        width: 260px;      
        margin: 5rem auto;
        padding: 2rem;    
    }
    .profile__buttons{
        gap: 0.7em;
    }
    .profile__details img {
        width: 30%; 
    }
}

